/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

:root {
  --c-blue: #0889d2;
  --c-yellow: #ebc847;
  --c-grey: #e3e8ef;
  --c-white: #ffffff;
  --c-black: #000;
}

/* Top level Grid Layout */
body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px repeat(5, 1fr);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.symbol-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.header {
  grid-row: 1 / span 1;
  box-shadow: 0 2px 5px grey;
  /* this is needed for the shadow to appear*/
  position: relative;
}

.sidebar {
  background-color: var(--c-blue);
  grid-column: 1 / 2;
  grid-row: 1 / span 6;
}

.content {
  background-color: var(--c-grey);
  grid-row: 2 / span 5;
}

/* SIDEBAR */
.sidebar {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 50px;
  padding: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--c-white);
}

.sidebar .sidebar-section {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 1rem;
  align-items: center;
}

.sidebar .sidebar-section.level0-nav {
  font-size: 1.5rem;
}

.sidebar .sidebar-section.level0-nav i {
  font-size: 2.5rem;
}

/* HEADER */
.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  color: var(--c-black);
}

.header-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /*gap: 100px;*/
  padding: 10px;
  text-align: right;
}

.header-section-top-inner {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
}

.header-section-top-inner.left {
  justify-content: left;
  padding-left: 30px;
}

.header-section-top-inner.right {
  justify-content: right;
  padding-right: 50px;
}

#input-search {
  border: 0;
  background-color: var(--c-grey);
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 0.7rem;
  width: 40vw;
}

label[for="input-search"] {
  display: grid;
}

.profile-picture {
  border-radius: 50%;
  background-color: var(--c-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture img {
  width: 80%;
}

.profile-picture.small {
  width: 40px;
  height: 40px;
}

.profile-picture.medium {
  width: 60px;
  height: 60px;
}

.header-section-bottom {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
}

.header-section-bottom.left {
  justify-content: left;
  padding-left: 30px;
}

.header-section-bottom.right {
  justify-content: right;
  padding-right: 50px;
}

.greeted-mame-wrapper {
  display: grid;
  grid-auto-flow: row;
  text-align: left;
}

.greeted-mame-wrapper .greeting {
  font-size: 0.8rem;
}

.greeted-mame-wrapper .user-name {
  font-size: 1.3rem;
}

.button {
  border: 0;
  background-color: var(--c-blue);
  color: var(--c-white);
  border-radius: 20px;
  padding: 5px 30px;
}
